@import "components/vars";
@import "components/fonts";
@import "components/resest";
.disabled,
.limitation,
.other {
    display: none;
}

body {
    font-family: OpenSans-Regular;
    background-color: #f9f9fb;
    padding: 4% 0 0 0;
    color: #1b1b1b;
}

.main {
    width: 60vw;
    margin: 0 auto;
    outline: 2px solid red;
    // display: flex;
}

.h1 {
    font: {
        family: OpenSans-Bold;
        size: 1.2em;
    }
    color: $accentcolor;
}

.h2 {
    font-size: 0.7em;
    margin-top: 0.5%;
}

.option,
.salary,
.deductions {
    display: flex;
    align-items: center;
}

.data {
    width: 60%;
    margin-top: 6.2%;
    font-size: 0.7em;
    p {
        display: inline-block;
        width: 50%;
    }
}

.option {
    &-inputs {
        display: flex;
        flex-direction: column;
    }
    input[type=radio] {
        display: none;
    }
    label::before {
        content: "";
        display: inline-block;
        // position: relative;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #ffffff;
        box-shadow: 0 0 5px 0 rgba(45, 49, 129, 0.15);
    }
    input[type=radio]:checked+label:before {
        // content: "";
        // display: inline-block;
        // position: absolute;
        // top: 0;
        // left: 0;
        // width: 8.9px;
        // height: 8.9px;
        background-color: $accentcolor;
    }
}

// input[type="radio"]:checked {
//     background: #FFD012;
//     box-shadow: inset 0 0 0 6px white, 0 0 0 1px #C2C2C2;
// }
// styles.css:117
// input[type="radio"]:hover, input[type="radio"]:checked {
//     background: gray;
//     box-shadow: inset 0 0 0 6px white, 0 0 0 1px #C2C2C2;
// }
// styles.css:105
// input[type="radio"] {
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
//     width: 33.5px;
//     height: 33.5px;
//     background: none;
//     box-shadow: inset 0 0 0 0 white, 0 0 0 1px #C2C2C2;
//     border-radius: 50%;
//     cursor: pointer;
//     margin: 0 0 0 1px;