@import "components/resest";
@import "components/vars";
@import "components/fonts";

.body {
    font-family: OpenSans-Regular;
    background-color: #f9f9fb;
    width: 1170px;
    margin: 0 auto;
    //padding: 4% 0 0 0;
    padding: 80px 0 0 0;
    outline: 2px solid red;
    color: $maincolor;
    overflow-x: hidden;
    letter-spacing: 0.3px;
    line-height: 1.86;
}
.header {
    display: flex;
    justify-content: space-between;
    &-title {
        .h1 {
            font: {
                family: OpenSans-Bold;
                //size: 1.2em;
                size: 26px;
            }
            letter-spacing: 1.6px;
            color: $accentcolor;
        }
        .h2 {
            //font-size: 0.7em;
            font-size: 16px;
            // margin-top: 0.5%;
            margin-top: 22px;
        }    
    }
    &-button {
        #open {
            @include center;
            color: $whitecolor;
            font: {
                family: OpenSans-Bold;
                size: 15px;
            }
            width: 300px;
            height: 50px;
            background-color: $accentcolor;
            cursor: pointer;
            transition: all 0.5s;
            span {
                margin-left:15px; 
            }
        }                               
    }
}


input[type=radio] {
    @include center;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $whitecolor;
    box-shadow: 0 0 5px 0 rgba(45, 49, 129, 0.15);
}

// input[type=radio]:checked {
//     background-image: url("../images/check1.png");
//     background-repeat: no-repeat;
//     background-position: 50%;
//     background-size:50%;
// }

input[type=radio]:checked:before {
    content: "";
    display:inline-block;
    width: 10px;
    height: 10px;
    border-radius:5px;
    background-color:$accentcolor;
}
input[type=radio]:focus {
    outline: none;
}

input[type=checkbox] {
    @include center;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: $whitecolor;
    box-shadow: 0 0 5px 0 rgba(45, 49, 129, 0.15);
}
input[type=checkbox]:checked:before {
    content: "";
    display:inline-block;
    width: 10px;
    height: 10px;
    background-color:$accentcolor;
}
// input[type=checkbox]:checked {
//     background-image: url("../images/check2.png");
//     background-repeat: no-repeat;
//     background-position: 50%;
//     background-size:50%;
// }

input[type=checkbox]:focus {
    outline: none;
}

input[type=number] {
    height: 25px;
    width: 100%;
    padding: 20px;
    font: {
        family: OpenSans-Regular;
        size: 15px;
    }
    color: $maincolor;
    box-shadow: 0px 2px 10px 0 rgba(45, 49, 129, 0.05);
    border-color: transparent;
}

.main {
    display: none;
    font-size: 14px;
    //display: flex;
    justify-content: space-between;
}

.data {
    width: 700px;
    //width: 100%;
    margin-top: 70px;
    >div {
        margin-bottom: 25px;
        p {
            display: inline-block;
            width: 50%;
        }
    }
}

.inputs {
    width: 50%;
}

.inputs-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    label {
        margin: 0 30px 0 15px;
    }
}

.option,
.salary,
.deductions,
.children,
.disabled,
.limitation,
.other,
.accident {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deductions {
    align-items: flex-start;
}

.results {
    // width: 40%;
    width: 370px;
    margin-left: 10px;
    background-color: $whitecolor;
    padding: 45px 40px;
    .h3 {
        display: flex;
        align-items: center;
        font: {
                family: OpenSans-Bold;
                size: 16px;
            }
        img {
            margin-right: 30px;
        }
    }
    &-row {
        display: flex;
        justify-content: space-between;
        align-items:center;
        margin: 10px 0;
    }
    &-salary {
        margin: 35px 0;
    }
    &-tax {
        margin: 35px 0;
        &-title {
            margin:20px 0;
        }
        p {
            &:last-child {
                font-family: OpenSans-Bold;
                margin: 20px 0;
                padding-bottom:40px;
                border-bottom: 5px solid #f5f5f9;
            }
        }
    }
    &-all {
        p {
            margin: 0;
            &:last-child {
                color: #989898;
            }
        }
        .results-row {
            font-family: OpenSans-Bold;
        }
    }
}

@import "components/media";